@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

$header-bg-color: #1e1e1e;
$gradient-start: #c6ffdd;
$gradient-middle: #fbd786;
$gradient-end: #f7797d;
$text-color: #989898;
$hover-text-color: #f0f0f0;
$overlay-bg: #00000099;

// Header Container Styles
.header-container {
  align-items: center;
  background-color: $header-bg-color;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 80px;
  padding: 0 50px;
  position: relative;

  .name-container {
    align-items: baseline;
    display: flex;

    .name {
      font-size: clamp(0.8rem, 1rem + 1vw, 1.8rem);
      font-family: "Cormorant Garamond", serif;
      font-weight: 700;
      padding-right: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .subtitle {
      color: $text-color;
      font-size: clamp(0.5em, 0.6rem + 0.5vw, 0.8rem);
    }
  }

  .menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    span {
      background: linear-gradient(
        90deg,
        $gradient-start,
        $gradient-middle,
        $gradient-end
      );
      border-radius: 2px;
      display: block;
      height: 2px;
      margin: 3px 0;
      width: 25px;
      transition: all 0.5s ease;
    }

    &.open {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          position:relative;
          top: 8px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          position:relative;
          top: -8px;
        }
      }
    }
  }

  nav {
    display: none;

    .nav-list {
      display: flex;

      li {
        color: $text-color;
        position: relative;
        transition: color 0.3s ease;

        a {
          font-size: clamp(0.5rem, 0.6rem + 0.5vw, 1rem);
        }


        &:not(:last-child) {
          margin-right: 25px;
        }

        &::after {
          animation: rgb-underline 0.5s linear infinite;
          background: linear-gradient(
            90deg,
            $gradient-start,
            $gradient-middle,
            $gradient-end
          );

          background-size: 200% 200%;
          bottom: -5px;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transform-origin: bottom left;
          transform: scaleX(0);
          transition: transform 0.5s ease;
          width: 100%;
        }

        &:hover {
          color: $hover-text-color;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &::after,
  &::before {
    background-image: conic-gradient(
      from var(--angle),
      $gradient-start,
      $gradient-middle,
      $gradient-end,
      $gradient-middle,
      $gradient-start
    );
    border-radius: 20px;
    box-sizing: border-box;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 3px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &::after,
    &::before {
      animation: spin 2s linear infinite;
      opacity: 0.5;
      transition: opacity 1.5s ease;
    }

    &::before {
      filter: blur(1.5rem);
    }
  }
}

// Menu Overlay Styles
.menu-overlay {
  align-items: center;
  background: $overlay-bg;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  z-index: 1000;

  li {
    color: $text-color;
    position: relative;
    text-align: center;
    transition: color 3s ease;

    a {
      font-size: clamp(1rem, 1em + 1vw, 1.8rem);
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    &::after {
      animation: rgb-underline .3s linear;
      background: linear-gradient(
        90deg,
        $gradient-start,
        $gradient-middle,
        $gradient-end,
        $gradient-middle,
        $gradient-start,
      );

      background-size: 200% 200%;
      bottom: -5px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      transform-origin: bottom left;
      transform: scaleX(0);
      transition: transform 2s ease;
      width: 100%;
    }
  }

  .close-menu {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    
    span {
      background: linear-gradient(
        90deg,
        $gradient-start,
        $gradient-middle,
        $gradient-end
      );
      border-radius: 2px;
      display: block;
      height: 3px;
      margin: 3px 0;
      width: 35px;

      &:first-of-type {
        transform: rotate(50deg);
        position: relative;
        top: 8px;
      }
      &:last-of-type {
        transform: rotate(-48deg);
        position: relative;
        top: 1px;
      }
    }
  }
}

.menu-overlay.show {
  transform: translateY(0%);

  li {
    color: $hover-text-color;
    &::after {
      transform: scaleX(1);
    }
  }
}

// Keyframes
@keyframes rgb-underline {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}




@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

// Media Queries
@media (min-width: 768px) {
  .header-container {
    .menu {
      display: none;
    }

    nav {
      display: block;
    }
  }
}

@media (max-width: 830px) {
  .header-container {
    padding: 0 30px;
  }
}

@media (max-width: 1007px) {
  .header-container {
    &::after,
    &::before {
      animation: spin 2s linear infinite;
      opacity: 0.5;
      transition: opacity 1.5s ease;
    }

    &::before {
      filter: blur(1.5rem);
    }
  }
}
