@import "../../variables.scss";
@import "../../mixins.scss";

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

// Header Container Styles
.header-container {
  align-items: center;
  background-color: rgb(18 18 18);
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  padding-inline: 50px;
  padding-top: 15px;
  position: sticky;
  top: 0;
  z-index: 1000; // Ensure it stays on top
  border: none;
  transition: box-shadow 0.3s ease-in-out;

  &.scrolled {
    box-shadow: 0 4px 6px rgb($header-bg-color, 0.5); // Change box shadow to white
    padding-top: 0;
  }

  .name-container {
    align-items: baseline;
    display: flex;

    .name {
      font-size: clamp(0.8rem, 1rem + 1vw, 1.8rem);
      font-family: "Cormorant Garamond", serif;
      font-weight: 700;
      padding-right: 15px;
      animation: drop-in 0.5s forwards;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }
    .subtitle {
      opacity: 0;
      animation: 0.5s drop-in 0.4s forwards;
    }
  }

  .menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    span {
      background: transparent;
      border-radius: 2px;
      display: block;
      height: 2px;
      margin: 3px 0;
      width: 25px;
      opacity: 0;

      animation: drop-in 0.5s forwards;
      animation-delay: calc(var(--i) * 0.1s);

      &:first-of-type {
        --i: 5;
        @include linear-gradient-background();
      }
      &:nth-of-type(2) {
        --i: 6;
        @include linear-gradient-background();
      }
      &:last-of-type {
        --i: 7;
        @include linear-gradient-background();
      }
    }

    &.open {
      transition: all 0.5s ease;
      span {
        &:first-of-type {
          transform: rotate(45deg);
          position: relative;
          top: 8px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          position: relative;
          top: -8px;
        }
      }
    }
  }

  nav {
    display: none;

    .nav-list {
      display: flex;

      li {
        color: $text-color;
        position: relative;
        transition: color 0.3s ease;

        &:not(:last-child) {
          margin-right: 25px;
        }

        &::after {
          animation: megatron-header-underline 0.5s linear infinite;
          @include linear-gradient-background();

          background-size: 100% 100%;
          border-radius: 2px;
          bottom: -5px;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transform-origin: bottom left;
          transform: scaleX(0);
          transition: transform 0.5s ease;
          width: 100%;
        }

        &:hover,
        &:focus-visible {
          color: $hover-text-color;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

// Menu Overlay Styles
.menu-overlay {
  align-items: center;
  background: $overlay-bg;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  z-index: 1000;

  &.show {
    transform: translateY(0%);

    li {
      color: $hover-text-color;

      opacity: 0;
      animation: drop-in 0.5s forwards;
      animation-delay: calc(var(--i) * 0.2s);

      &:nth-child(1) {
        --i: 4;
      }
      &:nth-child(2) {
        --i: 5;
      }
      &:nth-child(3) {
        --i: 6;
      }
      &:nth-child(4) {
        --i: 7;
      }

      &::after {
        transform: scaleX(1);
      }
    }
  }

  li {
    color: $text-color;
    position: relative;
    text-align: center;
    transition: color 3s ease 1s;

    a {
      font-size: clamp(1rem, 1em + 1vw, 1.8rem);
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    &::after {
      animation: megatron-header-underline 0.3s linear forwards;
      @include linear-gradient-background();
      background-size: 100% 100%;
      border-radius: 2px;
      bottom: -5px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      transform-origin: bottom left;
      transform: scaleX(0);
      transition: transform 0.5s ease 1.8s;
      width: 100%;
    }
  }

  .close-menu {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;

    span {
      @include linear-gradient-background();
      border-radius: 2px;
      display: block;
      height: 3px;
      margin: 3px 0;
      width: 35px;

      &:first-of-type {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        position: relative;
        top: 1px;
      }
    }
  }
}

// Media Queries
@media (min-width: 768px) {
  .header-container {
    .menu {
      display: none;
    }

    nav {
      display: block;

      li {
        opacity: 0;
        animation: drop-in 0.5s forwards;

        &:nth-child(1) {
          animation-delay: .6s
        }
        &:nth-child(2) {
          animation-delay: .8s
        }
        &:nth-child(3) {
          animation-delay: 1s
        }
        &:nth-child(4) {
          animation-delay: 1.2s
        }
      }
    }
  }
}

@media (max-width: 830px) {
  .header-container {
    padding-inline: 30px;
  }
}

// KEY FRAMES
@keyframes megatron-header-underline {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

// END KEY FRAMES
