@import "../../variables.scss";

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-20%);
  transition: 
    transform 0.5s ease,
    opacity 0.5s ease;
  transition-delay: 3s;
  width: 100%;

  &.animate {
    opacity: 1;
    transform: translateY(0%);
  }

  .avatar {
    aspect-ratio: 1;
    border-radius: 100vw;
    border: 5px solid $gradient-middle;
    box-shadow: 0rem 0rem 1rem;
    height: auto;
    margin-bottom: 20px;
    max-width: 200px; // Ensures the image scales down to fit the container
    min-width: 120px;
    object-fit: cover;
  }

}

.summary {
  margin-top: 20px;
  color: $text-color;

  p {
    opacity: 0;;
    transform: translateX(20%);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    &.animate {
      opacity: 1;
      transform: translateY(0%); /* Transition state: on-screen */

      &:first-of-type {
        transition-delay: 3.2s;
      }
      &:nth-of-type(2) {
        transition-delay: 3.4s;
      }
      &:nth-of-type(3) {
        transition-delay: 3.6s;
      }
      &:nth-of-type(4) {
        transition-delay: 3.8s;
      }
    }
  }
}

@media (min-width: 1080px) {
  .summary {
    margin-top: 0;
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
