@import "../../variables.scss";

$base-transition-delay: 1.8s;
$delay-increment: 0.2s;

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-20%);
  transition: 
    transform 0.5s ease,
    opacity 0.5s ease;
  transition-delay: $base-transition-delay;
  width: 100%;

  &.animate {
    opacity: 1;
    transform: translateY(0%);
  }

  .avatar {
    aspect-ratio: 1;
    border-radius: 100vw;
    border: 5px solid $gradient-middle;
    box-shadow: 0rem 0rem 1rem;
    height: auto;
    margin-bottom: 20px;
    max-width: 200px; // Ensures the image scales down to fit the container
    min-width: 120px;
    object-fit: cover;
  }

}

.summary {
  margin-top: 20px;
  color: $text-color;
  overflow-x: hidden; // prevents horizontal overflow for the paragraph on page load before the animation

  p {
    opacity: 0;;
    transform: translateX(20%);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    &.animate {
      opacity: 1;
      transform: translateY(0%); /* Transition state: on-screen */

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          transition-delay: $base-transition-delay + $delay-increment * $i;
        }
      }
    }
  }
}

@media (min-width: 1080px) {
  .summary {
    margin-top: 0;
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
