image: node:16-alpine

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm install
    - npm run build -- --output-path=docs --base-href=/my-portfolio/
    - touch docs/.nojekyll  # Disable Jekyll
  artifacts:
    paths:
      - docs/

pages:
  stage: deploy
  script:
    - git config --global user.email "reygarcia.develops@gmail..com"
    - git config --global user.name "Rey Garcia"
    - git add docs -f
    - git commit -m "Deploy to GitHub Pages" || true
    - git push origin main
  only:
    - main