@import "../../variables.scss";
@import "../../mixins.scss";

$base-delay: 1.8s;
$delay-increment: 0.2s;

.portfolio-section {
  border-radius: 30px;
  position: relative;
  overflow: visible;
  min-height: 300px;
  height: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    aspect-ratio: 1;
    background-color: #1e1e1e;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 325px;
    opacity: 0;
    padding: 30px;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;

    &.animate {
      animation: slide-and-fade-in 0.5s ease forwards;

      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          animation-delay: $base-delay + $delay-increment * ($i - 1);
        }
      }
    }

    &:hover,
    &:focus {
      transform: translateY(-10px);

      .card-inner {
        h3 {
          @include linear-gradient-background();
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .card-inner {
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
      font-weight: normal;
      transition: background 0.3s linear;
    }

    .description {
      color: $text-color;
      font-size: .8rem;
    }

    .tools {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;
      color: $sub-text-color;

      span {
        font-size: .65rem;
      }
    }
  }
}

@keyframes slide-and-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
