@import "../variables.scss";
@import "../mixins.scss";

.side-right-element {
  right: 20px;
}
.side-left-element {
  left: 20px;
}

.side-right-element, .side-left-element {
  color: #989898;
  position: fixed;
  bottom: 0;
  width: 40px;
  z-index: 1;
  display: none;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    li {
      margin-bottom: 20px;
      a {
        .instagram {
          stroke-width: 1;
        }
        .github {
          stroke-width: 0.2;
        }
        .facebook {
          stroke-width: 2;
        }
        svg {
          width: 20px;
          height: 20px;
          vertical-align: middle;
          stroke: #989898;
          stroke-linecap: round;
          stroke-linejoin: round;
          transition: 
            stroke 0.5s ease,
            transform 0.3s ease;

  
          &:hover {
            stroke: #fff;
            transform: translateY(-5px);
          }
        }
      }
    }

    .email {
      font-size: 12px;
      letter-spacing: .01em;
      margin: 20px auto;
      padding: 10px;
      writing-mode: vertical-lr;
      transition: 
        color 0.3s ease,
        transform 0.3s ease;

      &:hover {
        color: #fff;
        transform: translateY(-5px);
      }
    }

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      @include linear-gradient-background(180deg);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1231px;
  margin: 0 auto;
  padding: 0 25px;

  .welcome-section {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
    max-width: 510px;
  }

  section {
    border-radius: 20px;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    padding: 50px 0;
    position: relative;

    .title-and-divider {
      display: flex;
      align-items: center;
      flex-direction: flex-start;
      margin-bottom: 50px;
      gap: 15px;

      .title {
        font-size: clamp(0.8rem, 1rem + 1vw, 1.8rem);
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        white-space: nowrap;
        opacity: 0;
        &.animate {
          animation: drop-in 0.5s forwards var(--title-delay, 0s);
        }
      }

      .divider {
        content: "";
        position: relative;
        height: 1px;
        width: 100%;
        &:after {
          background: linear-gradient(90deg, $gradient-start, $gradient-middle, $gradient-end);
          background-size: 100% 100%;
          border-radius: 2px;
          content: "";
          height: 2px;
          position: absolute;
          transform-origin: bottom left;
          transform: scaleX(0);
          width: 100%;
        }

        &.animate:after {
          animation: title-divider 0.7s ease forwards var(--divider-animation-delay, 0s);
        }

        &.reset:after {
          animation: none;
          transform: scaleX(0);
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .main {
    padding: 0 50px;
  }
}

@media (min-width: 670px) {
  .main {
    section {
      padding: 100px 0;
    }
  }
}

@media (min-width: 800px) {
  .side-right-element, .side-left-element {
    display: block;
  }
  
  .main {
    padding: 0 110px;
    section {
      padding: 100px 0;
    }
  }
}

@media (min-width: 1080px) {
  .side-right-element {
    right: 40px;
  }
  .side-left-element {
    left: 40px;
  }
  
  .main {
    padding: 0 150px;
  }
}

footer {
  display: flex;
  justify-content: center;
  color: #989898;
  padding-block: 30px;
}

@keyframes title-divider {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
