<app-header (sectionChanged)="navigateToSection($event)"></app-header>
<app-contact-info></app-contact-info>
<main class="main">
  <section class="welcome-section">
    <app-welcome></app-welcome>
  </section>
  <section id="aboutMe" #contentSection>
    <div class="title-and-divider">
      <div class="title">About me</div>
      <div class="divider"></div>
    </div>
    <app-about-me class="component-transition"></app-about-me>
  </section>
  <section id="portfolio" #contentSection>
    <div class="title-and-divider">
      <div class="title">Portfolio</div>
      <div class="divider"></div>
    </div>
    <app-portfolio class="component-transition"></app-portfolio>
  </section>
  <section id="contactMe" #contentSection>
    <div class="title-and-divider">
      <div class="title">Contact me</div>
      <div class="divider"></div>
    </div>
    <div class="component-transition">Contact me</div>
  </section>
  <section id="experience" #contentSection>
    <div class="title-and-divider">
      <div class="title">Experience</div>
      <div class="divider"></div>
    </div>
    <div class="component-transition">Experience</div>
  </section>
</main>
<footer #contentSection>
  <div class="footer-content">Designed & Built by Rey Garcia</div>
</footer>
