<app-header (sectionChanged)="navigateToSection($event)"></app-header>
<main class="main">
  <section id="aboutMe">
    <div class="title-and-divider">
      <div class="title">About me</div>
      <div class="divider"></div>
    </div>
    <app-about-me></app-about-me>
  </section>
  <section id="portfolio">
    <div class="title-and-divider">
      <div class="title">Portfolio</div>
      <div class="divider"></div>
    </div>
    <app-portfolio></app-portfolio>
  </section>
  <section id="contactMe">
    <div class="title-and-divider">
      <div class="title">Skills</div>
      <div class="divider"></div>
    </div>
  </section>
  <section id="experience">
    <div class="title-and-divider">
      <div class="title">Contact me</div>
      <div class="divider"></div>
    </div>
  </section>
</main>
<footer>
  <div class="footer-content">
    Designed & Built by Rey Garcia
  </div>
</footer>
