<app-header (sectionChanged)="navigateToSection($event)"></app-header>
<main class="main">
  <section id="aboutMe">
    <div class="title-and-divider">
      <div class="title">About me</div>
      <div class="divider"></div>
    </div>
    <div class="section-content">
      <div class="image-content">
        <img class="avatar" src="assets/head-shot.png" />
        <div>Senior Software Engineer</div>
        <div class="subtitle">- Add icon links here -</div>
      </div>
      <div class="summary">
        @for(paragraph of summary; track paragraph) {
          <p>{{ paragraph }}</p>
        }
      </div>
    </div>
  </section>
  <section id="portfolio">
    <div class="title-and-divider">
      <div class="title">Portfolio</div>
      <div class="divider"></div>
    </div>  </section>
  <section id="contactMe">
    <div class="title-and-divider">
      <div class="title">Skills</div>
      <div class="divider"></div>
    </div>
  </section>
  <section id="experience">
    <div class="title-and-divider">
      <div class="title">Contact me</div>
      <div class="divider"></div>
    </div>
  </section>
</main>
<footer>
  <div class="footer-content">
    Designed & Built by Rey Garcia
  </div>
</footer>
