@import '../../variables.scss';
@import '../../mixins.scss';

.welcome-container {
  .main-message {
    font-size: clamp(40px, 8vw, 80px);
    color: $welcom-text;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 0;
    
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0.15em; /* Width of the caret */
      background-color: rgba(152, 152, 152, 0.1); /* Caret color */
      border-radius: 0.1em; /* Rounded edges */
      animation: blink-caret .5s step-end infinite; /* Blinking effect */
    }

    &.typing {
      animation: .5s typing 1s steps(3, end) forwards;
    }

    &.deleting {
      animation: .5s delete .5s steps(3, end) backwards;
    }

    &.final-typing {
      animation: 1s final-typing .5s steps(7, end) forwards;

    }

    &.visible {
      overflow: visible;
      width: 100%;

      &:after {
        display:none;
      }
    }
  }

  .sub-message {
    color: $text-color;
    opacity: 0;
    &.visible {
      --drop-in-start: -20%;
      animation: drop-in 1s forwards;
    }
  }

  .button {
    background: transparent;
    border-radius: 55px;
    border: 0;
    box-shadow: 6 6px 6px rgba($header-bg-color, 0.5);
    margin-top: 20px;
    overflow:hidden;
    padding: 10px;
    position:relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 120px;


    &:before {
      @include linear-gradient-background();
      border-radius: 55px;
      border: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0%;
      z-index: -1;
    }

    &.animate {
      .content {
        opacity: 1;
      }
      &:before {
        animation: 1s button-animation 1s ease forwards;
      }
    }

    &:hover,
    &:focus {
      box-shadow: 6px 6px 6px rgb(0, 0, 0);
      cursor: pointer;
      transform: translateY(-5px);
    }

    .content {
      opacity: 0;
      color: black;
      transition: 
        .5s opacity 1.2s ease,
    }
  }
}

@media (min-width: 480px) {
  .welcome-container {
    .button {
      width: 155px;
    }
  }
}

@keyframes button-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 155px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 3ch; /* Adjust based on the length of "Hi!" and later "Welcome" */
  }
}

@keyframes final-typing {
  from {
    width: 0;
  }
  to {
    width: 7ch; /* Adjust based on the length of "Hi!" and later "Welcome" */
  }
}

@keyframes delete {
  from {
    width: 3ch;
  }
  to {
    width: 0;
  }
}

@keyframes blink-caret {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(152, 152, 152, 0.1); /* Caret color */
  }
}