@mixin linear-gradient-background(
  $degrees: 90deg,
  $start: $gradient-start, // Default gradient start color
  $middle: $gradient-middle, // Default gradient middle color
  $end: $gradient-end // Default gradient end color
) {
  background: linear-gradient(
    $degrees,
    $start,
    $middle,
    $end
  );
}