/* You can add global styles to this file, and also import other style files */
@import 'normalize.css/normalize.css';
@import 'variables.scss';

:root {
  --drop-in-start: -100%;
  --drop-in-end: 0;
  --drop-in-opacity-start: 0;
  --drop-in-opacity-end: 1;
}

html {
  font-size: 16px;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(60, 60, 60) #000000ed;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #000000ed;
  color: #f0f0f0;
  font-family: "Space Mono", monospace;
  font-size: clamp(0.875rem, 0.6rem + .5vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
}

a {
  text-decoration: none;
  color: $text-color;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.subtitle {
  color: $text-color;
  font-size: clamp(0.5em, 0.6rem + 0.5vw, 0.8rem);
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social-li {
  a {
    .instagram {
      stroke-width: 1;
    }
    .github {
      stroke-width: 0.2;
    }
    .facebook {
      stroke-width: 2;
    }

    svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      stroke: $text-color;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: 
        stroke 0.5s ease,
        transform 0.3s ease;


      &:hover, 
      &:focus {
        stroke: #fff;
        transform: translateY(-5px);
      }
    }
  }
}

@media (min-width: 1080px) {
  .section-content {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex: 1; //Ensures equal widths for all children
    }
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(var(--drop-in-start));
    opacity: var(--drop-in-opacity-start);
  }
  100% {
    transform: translateY(var(--drop-in-end));
    opacity: var(--drop-in-opacity-end);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

