$header-bg-color: #1e1e1e;
$gradient-start: #c6ffdd;
$gradient-middle: #fbd786;
$gradient-end: #f7797d;
$welcom-text: #C4C4C4;
$text-color: #989898;
$sub-text-color: #717171;
$hover-text-color: #f0f0f0;
$overlay-bg: #00000099;